version: "3.9"

services:

  backstage:
    build: .
    ports:
      - "7007:7007"
    environment:
      - BS_CLIENT_ID
      - BS_CLIENT_SECRET

  postgres:
    image: "postgres:latest"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
